# Build outputs
build/
cmake-build/
out/
bin/
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.pdb
*.ilk

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*
*.slnx

# CMake
CMakeUserPresets.json

# OS
Thumbs.db
Desktop.ini
.DS_Store
